<style>
    li {
        list-style: none;
    }
    .oc-left {
        line-height: 32px;
        font-weight: 700;
        display: inline-block
    }
    .oc-right {
        position:absolute;
        right: 12px;
        top: 4px;
    }
</style>

<div class="cl-sidebar" data-position="right" data-step="1" data-intro="&lt;strong&gt;Fixed Sidebar&lt;/strong&gt; &lt;br/&gt; It adjust to your needs.">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <div class="menu-space nano nscroller has-scrollbar" style="height: 513px;">
            <div class="content">
                <div class="side-user">
                    <p class="oc-left">报表</p>
                    <div class="oc-right">
                        <div class="oc-add">
                            <a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                            <ul>
                                <li>添加分类</li>
                                <li>添加报表</li>
                            </ul>
                        </div>
                        <div class="oc-op">
                            <a href="javascript:void(0)"><i class="fa fa-ellipsis-v"></i></a>
                            <ul>
                                <li>添加分类</li>
                                <li>添加报表</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="cl-vnavigation">
                    <li class="parent" data-id="1">
                        <a href="#"><i class="fa fa-folder-o"></i><span>分类一</span></a>
                        <ul class="sub-menu">
                            <li data-id="4"><a>Item 4</a></li>
                            <li data-id="5"><a>Item 5</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="#"><i class="fa fa-folder-open-o"></i><span>UI Elements</span></a>
                        <ul class="sub-menu" style="display: block;">
                            <li data-id="4"><a href="ui-elements.html">General</a></li>
                            <li data-id="4"><a href="ui-buttons.html">Buttons</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="#"><i class="fa fa-folder-o"></i><span>Forms</span></a>
                        <ul class="sub-menu">
                            <li data-id="4"><a href="ui-elements.html">General</a></li>
                            <li data-id="4"><a href="ui-buttons.html">Buttons</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="#"><i class="fa fa-folder-o"></i><span>Tables</span></a>
                        <ul class="sub-menu">
                            <li data-id="4"><a href="ui-elements.html">General</a></li>
                            <li data-id="4"><a href="ui-buttons.html">Buttons</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="#"><i class="fa fa-folder-o"></i><span>Maps</span></a>
                        <ul class="sub-menu">
                            <li data-id="4"><a href="ui-elements.html">General</a></li>
                            <li data-id="4"><a href="ui-buttons.html">Buttons</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pane" style="display: none;"><div class="slider" style="height: 497px; top: 0px;"></div></div>
        </div>
        <div class="text-right collapse-button" style="padding:7px 9px;">
            <input type="text" class="form-control search" placeholder="Search...">
            <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
        </div>
    </div>
</div>

<div class="container-fluid" id="pcont">
    <div>
        <span>报表名称</span>
        <span>添加至看板</span>
        <span>编辑</span>
        <span>删除</span>
        <span>导出</span>
    </div>
    <div>

    </div>
</div>

<script>

        //  加载左侧边栏
        //从控制器获取json数据
    $.ajax({
        url: "/ChartDesign/Left",
        type: "GET",
        //接口访问出错执行error属性中定义的函数
        error: function () {
            alert('error');
        },
        //接口访问成功后执行success属性中定义的函数
        success: function (objs) {
            var html = "";
            for (obj in objs) {
                var datas = objs[obj][0].data;
                html += '<li class="parent" data-id="' + objs[obj][0].pid + '"> <a href = "#" > <i class="fa fa-folder-o"></i> <span>' + objs[obj][0].pname + '</span></a><ul class="sub-menu">';
                for (data in datas) {
                    html += '<li data-id="' + datas[data][0].sid + '"><a>' + datas[data][0].sname + '</a></li>';
                }
                html += "</ul></li >";
            }
            $(".cl-vnavigation").html(html);
            addClickEvent();
        }
    });
    function addClickEvent() {
        $('.parent').click(function () {
            var $_this = $(this);
            if ($_this.children('a').children('.fa-folder-open-o').length > 0) {
                $_this.children('a').children('.fa-folder-open-o').removeClass("fa-folder-open-o").addClass("fa-folder-o");
            }
            else {
                $('.parent>a>.fa-folder-open-o').removeClass("fa-folder-open-o").addClass("fa-folder-o");
                $_this.children('a').children('.fa-folder-o').removeClass("fa-folder-o").addClass("fa-folder-open-o");
            }
        });
    }
</script>
