
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("这是一个链接", "Index", "test1", new { demo = "ds", mms = "ds2" }, new { Style = "color:red", id = 13 })
    </div>
</body>
</html>
